#about{
    padding: 100px 5%;
    position: relative;
    z-index: 1;
}
.about-wrapper{
    display: flex;
    width: 100%;
    
    flex-direction: column;
}
.about-sections{
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    padding: 20px;
    font-size: 18px;
    gap: 20px;
    border: 1px white solid;
}

.about-img{
    width: 30px;
}

@media (min-width: 1024px)  {
    .about-img{
        width: 50px;
    }
    .about-wrapper{
      
        
        flex-direction: row;
    }
}