.orbit{
    position: absolute;
    top: 20%;
    right: -20%;
}
@media (min-width: 1024px){
    .orbit{
        position: absolute;
        top: 20%;
        right: -3%;
        scale: 1.3;
    }
}
.orbit-circle2{
    position: absolute;
    top: -20px;
    right: -40px;
}
.planet{
    position: absolute;
    top: 0px;
    right: 0px;
}
.planet1{
    animation: rotation 28s infinite linear;
}
.planet2{
    animation: rotation 40s infinite linear;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-359deg);
    }
}