html, body{
  font-family: 'IBM Plex Mono', monospace;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: clip;
}

*{
  box-sizing: border-box;
  margin: 0;
}
a{
  text-decoration: none;
  color: white;
}
h1{
  font-family: Neoneon;
  font-weight: 300;
}
button{
  border: none;
  background: none;
  cursor: pointer;
  width: fit-content;
  padding: 0;
}
.nav-cover{
  height: 105px;
  background-color: #1f1f1f;
}

.checkout-input:focus{
  border-left: 3px solid black;
}
@font-face {
  font-family: Neoneon;
  src: url(./font/Neoneon.otf);
}
@font-face {
  font-family: Harmattan;
  src: url(./font/Harmattan-Regular.ttf);
}